

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: none;
  text-align: center;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
%}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

  /* Basic */


  	body, input, select, textarea {
  		color: #010101;
  		font-family: 'Source Sans Pro', sans-serif;
  		font-size: 15pt;
  		font-weight: 300 !important;
  		letter-spacing: -0.025em;
  		line-height: 1.75em;
  	}

  	body {
  		background: #fff;
  	}

  		body.loading * {
  			-moz-animation: none !important;
  			-webkit-animation: none !important;
  			-ms-animation: none !important;
  			animation: none !important;
  		}

  	a {
  		-moz-transition: border-color 0.2s ease-in-out;
  		-webkit-transition: border-color 0.2s ease-in-out;
  		-ms-transition: border-color 0.2s ease-in-out;
  		transition: border-color 0.2s ease-in-out;
  		border-bottom: dotted 1px;
  		color: inherit;
  		outline: 0;
  		text-decoration: none;
  	}
/*
  		a:hover {
  			border-color: transparent;
  		}
*/
      /* Icon */

      	.icon {
      		text-decoration: none;
      		position: relative;
      	}

      		.icon:before {
      			-moz-osx-font-smoothing: grayscale;
      			-webkit-font-smoothing: antialiased;
      			font-family: FontAwesome;
      			font-style: normal;
      			font-weight: normal;
      			text-transform: none !important;
      		}

      		.icon > .label {
      			display: none;
      		}
          /* Wrapper */

          	@-moz-keyframes wrapper {
          		0% {
          			opacity: 0;
          		}

          		100% {
          			opacity: 1;
          		}
          	}

          	@-webkit-keyframes wrapper {
          		0% {
          			opacity: 0;
          		}

          		100% {
          			opacity: 1;
          		}
          	}

          	@-ms-keyframes wrapper {
          		0% {
          			opacity: 0;
          		}

          		100% {
          			opacity: 1;
          		}
          	}

          	@keyframes wrapper {
          		0% {
          			opacity: 0;
          		}

          		100% {
          			opacity: 1;
          		}
          	}

          	#wrapper {
          		-moz-animation: wrapper 3s forwards;
          		-webkit-animation: wrapper 3s forwards;
          		-ms-animation: wrapper 3s forwards;
          		animation: wrapper 3s forwards;
          		height: 100%;
          		left: 0;
          		opacity: 0;
          		position: fixed;
          		top: 0;
          		width: 100%;
          	}
          /* Main */

          	#main {
          		height: 100%;
          		left: 0;
          		position: fixed;
          		text-align: center;
          		top: 0;
          		width: 100%;
          	}

          		#main:before {
          			content: '';
          			display: inline-block;
          			height: 100%;
          			margin-right: 0;
          			vertical-align: middle;
          			width: 1px;
          		}

          /* Header */

          	@-moz-keyframes header {
          		0% {
          			-moz-transform: translate3d(0,1em,0);
          			-webkit-transform: translate3d(0,1em,0);
          			-ms-transform: translate3d(0,1em,0);
          			transform: translate3d(0,1em,0);
          			opacity: 0;
          		}

          		100% {
          			-moz-transform: translate3d(0,0,0);
          			-webkit-transform: translate3d(0,0,0);
          			-ms-transform: translate3d(0,0,0);
          			transform: translate3d(0,0,0);
          			opacity: 1;
          		}
          	}

          	@-webkit-keyframes header {
          		0% {
          			-moz-transform: translate3d(0,1em,0);
          			-webkit-transform: translate3d(0,1em,0);
          			-ms-transform: translate3d(0,1em,0);
          			transform: translate3d(0,1em,0);
          			opacity: 0;
          		}

          		100% {
          			-moz-transform: translate3d(0,0,0);
          			-webkit-transform: translate3d(0,0,0);
          			-ms-transform: translate3d(0,0,0);
          			transform: translate3d(0,0,0);
          			opacity: 1;
          		}
          	}

          	@-ms-keyframes header {
          		0% {
          			-moz-transform: translate3d(0,1em,0);
          			-webkit-transform: translate3d(0,1em,0);
          			-ms-transform: translate3d(0,1em,0);
          			transform: translate3d(0,1em,0);
          			opacity: 0;
          		}

          		100% {
          			-moz-transform: translate3d(0,0,0);
          			-webkit-transform: translate3d(0,0,0);
          			-ms-transform: translate3d(0,0,0);
          			transform: translate3d(0,0,0);
          			opacity: 1;
          		}
          	}

          	@keyframes header {
          		0% {
          			-moz-transform: translate3d(0,1em,0);
          			-webkit-transform: translate3d(0,1em,0);
          			-ms-transform: translate3d(0,1em,0);
          			transform: translate3d(0,1em,0);
          			opacity: 0;
          		}

          		100% {
          			-moz-transform: translate3d(0,0,0);
          			-webkit-transform: translate3d(0,0,0);
          			-ms-transform: translate3d(0,0,0);
          			transform: translate3d(0,0,0);
          			opacity: 1;
          		}
          	}

          	@-moz-keyframes nav-icons {
          		0% {
          			-moz-transform: translate3d(0,1em,0);
          			-webkit-transform: translate3d(0,1em,0);
          			-ms-transform: translate3d(0,1em,0);
          			transform: translate3d(0,1em,0);
          			opacity: 0;
          		}

          		100% {
          			-moz-transform: translate3d(0,0,0);
          			-webkit-transform: translate3d(0,0,0);
          			-ms-transform: translate3d(0,0,0);
          			transform: translate3d(0,0,0);
          			opacity: 1;
          		}
          	}

          	@-webkit-keyframes nav-icons {
          		0% {
          			-moz-transform: translate3d(0,1em,0);
          			-webkit-transform: translate3d(0,1em,0);
          			-ms-transform: translate3d(0,1em,0);
          			transform: translate3d(0,1em,0);
          			opacity: 0;
          		}

          		100% {
          			-moz-transform: translate3d(0,0,0);
          			-webkit-transform: translate3d(0,0,0);
          			-ms-transform: translate3d(0,0,0);
          			transform: translate3d(0,0,0);
          			opacity: 1;
          		}
          	}

          	@-ms-keyframes nav-icons {
          		0% {
          			-moz-transform: translate3d(0,1em,0);
          			-webkit-transform: translate3d(0,1em,0);
          			-ms-transform: translate3d(0,1em,0);
          			transform: translate3d(0,1em,0);
          			opacity: 0;
          		}

          		100% {
          			-moz-transform: translate3d(0,0,0);
          			-webkit-transform: translate3d(0,0,0);
          			-ms-transform: translate3d(0,0,0);
          			transform: translate3d(0,0,0);
          			opacity: 1;
          		}
          	}

          	@keyframes nav-icons {
          		0% {
          			-moz-transform: translate3d(0,1em,0);
          			-webkit-transform: translate3d(0,1em,0);
          			-ms-transform: translate3d(0,1em,0);
          			transform: translate3d(0,1em,0);
          			opacity: 0;
          		}

          		100% {
          			-moz-transform: translate3d(0,0,0);
          			-webkit-transform: translate3d(0,0,0);
          			-ms-transform: translate3d(0,0,0);
          			transform: translate3d(0,0,0);
          			opacity: 1;
          		}
          	}

          /* Footer */

          	#footer {
          		background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
          		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
          		background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
          		background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
          		bottom: 0;
          		cursor: default;
          		height: 6em;
          		left: 0;
          		line-height: 8em;
          		position: absolute;
          		text-align: center;
          		width: 100%;
          	}

          /* Wide */

          	@media screen and (max-width: 1680px) {

          		/* Basic */

          			body, input, select, textarea {
          				font-size: 13pt;
          			}

          		/* BG */

          			@-moz-keyframes bg {
          				0% {
          					-moz-transform: translate3d(0,0,0);
          					-webkit-transform: translate3d(0,0,0);
          					-ms-transform: translate3d(0,0,0);
          					transform: translate3d(0,0,0);
          				}

          				100% {
          					-moz-transform: translate3d(-1500px,0,0);
          					-webkit-transform: translate3d(-1500px,0,0);
          					-ms-transform: translate3d(-1500px,0,0);
          					transform: translate3d(-1500px,0,0);
          				}

          	}

          		@-webkit-keyframes bg {
          			0% {
          				-moz-transform: translate3d(0,0,0);
          				-webkit-transform: translate3d(0,0,0);
          				-ms-transform: translate3d(0,0,0);
          				transform: translate3d(0,0,0);
          			}

          			100% {
          				-moz-transform: translate3d(-1500px,0,0);
          				-webkit-transform: translate3d(-1500px,0,0);
          				-ms-transform: translate3d(-1500px,0,0);
          				transform: translate3d(-1500px,0,0);
          			}
          			}

          		@-ms-keyframes bg {
          			0% {
          				-moz-transform: translate3d(0,0,0);
          				-webkit-transform: translate3d(0,0,0);
          				-ms-transform: translate3d(0,0,0);
          				transform: translate3d(0,0,0);
          			}

          			100% {
          				-moz-transform: translate3d(-1500px,0,0);
          				-webkit-transform: translate3d(-1500px,0,0);
          				-ms-transform: translate3d(-1500px,0,0);
          				transform: translate3d(-1500px,0,0);
          			}
          		}

          		@keyframes bg {
          			0% {
          				-moz-transform: translate3d(0,0,0);
          				-webkit-transform: translate3d(0,0,0);
          				-ms-transform: translate3d(0,0,0);
          				transform: translate3d(0,0,0);
          			}

          			100% {
          				-moz-transform: translate3d(-1500px,0,0);
          				-webkit-transform: translate3d(-1500px,0,0);
          				-ms-transform: translate3d(-1500px,0,0);
          				transform: translate3d(-1500px,0,0);
          			}
          		}

          		#bg {
          			background-size: 1500px auto;
          			width: 4500px;
          		} }

          /* Normal */

          	@media screen and (max-width: 1280px) {

          		/* Basic */

          			body, input, select, textarea {
          				font-size: 12pt;
          			}

          		/* BG */

          			@-moz-keyframes bg {
          				0% {
          					-moz-transform: translate3d(0,0,0);
          					-webkit-transform: translate3d(0,0,0);
          					-ms-transform: translate3d(0,0,0);
          					transform: translate3d(0,0,0);
          				}

          				100% {
          					-moz-transform: translate3d(-750px,0,0);
          					-webkit-transform: translate3d(-750px,0,0);
          					-ms-transform: translate3d(-750px,0,0);
          					transform: translate3d(-750px,0,0);
          				}

          	}

          		@-webkit-keyframes bg {
          			0% {
          				-moz-transform: translate3d(0,0,0);
          				-webkit-transform: translate3d(0,0,0);
          				-ms-transform: translate3d(0,0,0);
          				transform: translate3d(0,0,0);
          			}

          			100% {
          				-moz-transform: translate3d(-750px,0,0);
          				-webkit-transform: translate3d(-750px,0,0);
          				-ms-transform: translate3d(-750px,0,0);
          				transform: translate3d(-750px,0,0);
          			}
          			}

          		@-ms-keyframes bg {
          			0% {
          				-moz-transform: translate3d(0,0,0);
          				-webkit-transform: translate3d(0,0,0);
          				-ms-transform: translate3d(0,0,0);
          				transform: translate3d(0,0,0);
          			}

          			100% {
          				-moz-transform: translate3d(-750px,0,0);
          				-webkit-transform: translate3d(-750px,0,0);
          				-ms-transform: translate3d(-750px,0,0);
          				transform: translate3d(-750px,0,0);
          			}
          		}

          		@keyframes bg {
          			0% {
          				-moz-transform: translate3d(0,0,0);
          				-webkit-transform: translate3d(0,0,0);
          				-ms-transform: translate3d(0,0,0);
          				transform: translate3d(0,0,0);
          			}

          			100% {
          				-moz-transform: translate3d(-750px,0,0);
          				-webkit-transform: translate3d(-750px,0,0);
          				-ms-transform: translate3d(-750px,0,0);
          				transform: translate3d(-750px,0,0);
          			}
          		}

          		#bg {
          			background-size: 750px auto;
          			width: 2250px;
          		} }

          /* Mobile */

          	@media screen and (max-width: 736px) {

          		/* Basic */

          			body {
          				min-width: 320px;
          			}

          			body, input, select, textarea {
          				font-size: 11pt;
          			}

          		/* BG */

          			@-moz-keyframes bg {
          				0% {
          					-moz-transform: translate3d(0,0,0);
          					-webkit-transform: translate3d(0,0,0);
          					-ms-transform: translate3d(0,0,0);
          					transform: translate3d(0,0,0);
          				}

          				100% {
          					-moz-transform: translate3d(-300px,0,0);
          					-webkit-transform: translate3d(-300px,0,0);
          					-ms-transform: translate3d(-300px,0,0);
          					transform: translate3d(-300px,0,0);
          				}

          	}

          		@-webkit-keyframes bg {
          			0% {
          				-moz-transform: translate3d(0,0,0);
          				-webkit-transform: translate3d(0,0,0);
          				-ms-transform: translate3d(0,0,0);
          				transform: translate3d(0,0,0);
          			}

          			100% {
          				-moz-transform: translate3d(-300px,0,0);
          				-webkit-transform: translate3d(-300px,0,0);
          				-ms-transform: translate3d(-300px,0,0);
          				transform: translate3d(-300px,0,0);
          			}
          			}

          		@-ms-keyframes bg {
          			0% {
          				-moz-transform: translate3d(0,0,0);
          				-webkit-transform: translate3d(0,0,0);
          				-ms-transform: translate3d(0,0,0);
          				transform: translate3d(0,0,0);
          			}

          			100% {
          				-moz-transform: translate3d(-300px,0,0);
          				-webkit-transform: translate3d(-300px,0,0);
          				-ms-transform: translate3d(-300px,0,0);
          				transform: translate3d(-300px,0,0);
          			}
          		}

          		@keyframes bg {
          			0% {
          				-moz-transform: translate3d(0,0,0);
          				-webkit-transform: translate3d(0,0,0);
          				-ms-transform: translate3d(0,0,0);
          				transform: translate3d(0,0,0);
          			}

          			100% {
          				-moz-transform: translate3d(-300px,0,0);
          				-webkit-transform: translate3d(-300px,0,0);
          				-ms-transform: translate3d(-300px,0,0);
          				transform: translate3d(-300px,0,0);
          			}
          		}

          		#bg {
          			background-size: 300px auto;
          			width: 900px;
          		}

          	/* Header */

          		#header h1 {
          			font-size: 2.5em;
          		}

          		#header p {
          			font-size: 1em;
          		}

          		#header nav {
          			font-size: 1em;
          		}

          			#header nav a:hover {
          				font-size: 1em;
          			}

          			#header nav a:active {
          				font-size: 1em;
          			} }

          /* Mobile (Portrait) */

          	@media screen and (max-width: 480px) {

          		/* BG */

          			@-moz-keyframes bg {
          				0% {
          					-moz-transform: translate3d(0,0,0);
          					-webkit-transform: translate3d(0,0,0);
          					-ms-transform: translate3d(0,0,0);
          					transform: translate3d(0,0,0);
          				}

          				100% {
          					-moz-transform: translate3d(-412.5px,0,0);
          					-webkit-transform: translate3d(-412.5px,0,0);
          					-ms-transform: translate3d(-412.5px,0,0);
          					transform: translate3d(-412.5px,0,0);
          				}

          	}

          		@-webkit-keyframes bg {
          			0% {
          				-moz-transform: translate3d(0,0,0);
          				-webkit-transform: translate3d(0,0,0);
          				-ms-transform: translate3d(0,0,0);
          				transform: translate3d(0,0,0);
          			}

          			100% {
          				-moz-transform: translate3d(-412.5px,0,0);
          				-webkit-transform: translate3d(-412.5px,0,0);
          				-ms-transform: translate3d(-412.5px,0,0);
          				transform: translate3d(-412.5px,0,0);
          			}
          			}

          		@-ms-keyframes bg {
          			0% {
          				-moz-transform: translate3d(0,0,0);
          				-webkit-transform: translate3d(0,0,0);
          				-ms-transform: translate3d(0,0,0);
          				transform: translate3d(0,0,0);
          			}

          			100% {
          				-moz-transform: translate3d(-412.5px,0,0);
          				-webkit-transform: translate3d(-412.5px,0,0);
          				-ms-transform: translate3d(-412.5px,0,0);
          				transform: translate3d(-412.5px,0,0);
          			}
          		}

          		@keyframes bg {
          			0% {
          				-moz-transform: translate3d(0,0,0);
          				-webkit-transform: translate3d(0,0,0);
          				-ms-transform: translate3d(0,0,0);
          				transform: translate3d(0,0,0);
          			}

          			100% {
          				-moz-transform: translate3d(-412.5px,0,0);
          				-webkit-transform: translate3d(-412.5px,0,0);
          				-ms-transform: translate3d(-412.5px,0,0);
          				transform: translate3d(-412.5px,0,0);
          			}
          		}

          		#bg {
          			background-size: 412.5px auto;
          			width: 1237.5px;
          		}

          	/* Header */

          		#header nav {
          			padding: 0 1em;
          		} }
