{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "Sign In" %}</h3>
        </div>
        <div class="panel-body">
          {% get_providers as socialaccount_providers %}

          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            {% buttons %}
              <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
              <a class="btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            {% endbuttons %}
          </form>
        </div>
        {% if socialaccount_providers %}
          <div class="panel-body">
            <p>
              {% blocktrans with site.name as site_name %}Please sign in with one
              of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
              for a {{ site_name }} account and sign in below:{% endblocktrans %}
            </p>

            <div class="socialaccount_ballot">
              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
              <div class="login-or">{% trans 'or' %}</div>
            </div>

            {% include "socialaccount/snippets/login_extra.html" %}
          </div>
        {% else %}
          <div class="panel-footer">
            <p>{% blocktrans %}To register an account please <a href="{{ signup_url }}">sign up</a>.{% endblocktrans %}</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
