{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block head_title %}{% trans "Add a Project" %}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add a Project</h3>
        </div>
        <form role="form" class="form-horizontal"  action="/create/" method="post" enctype="multipart/form-data" >
        

        <div class="panel-body">

          {% csrf_token %}

            <fieldset>
              <!-- Text input-->
              <div class="form-group">
                 {{ form.name.errors }}
                <label class="col-md-4 control-label" for="Project Name ">Project Name</label>
                <div class="col-md-6">
                  <input name="name" id="id_name" placeholder="project name" class="form-control input-md" type="text" value="{{form.name.value|default:""}}">
 
                  
                </div>
              </div>
              <!-- Prepended text-->
              <div class="form-group">
               {{ form.slug.errors }}
                <label class="col-md-4 control-label" for="prependedtext">Spurri URL </label>
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon">www.spurri.com/</span>
                    <input name="slug" class="form-control" placeholder="projectname" type="text" value="{{form.slug.value|default:""}}">
                  </div>
                  
                </div>
              </div>
              <!-- Textarea -->
              <div class="form-group">
              {{ form.description.errors }}
                <label class="col-md-4 control-label" for="Short Description">Short Description</label>
                <div class="col-md-6">
                  <textarea class="form-control"  name="description" placeholder="project description">{{form.slug.value|default:""}} </textarea>
                </div>
              </div>
              <!-- File Button -->
              <div class="form-group">
               {{ form.image.errors }}
                <label class="col-md-4 control-label" for="Upload Image">Upload Image </label>
                <div class="col-md-6">
                  <input id="Upload Image" name="image" class="input-file" type="file">
                </div>
              </div>
              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-6">
                  <button id="singlebutton" name="button" class="btn btn-primary">Add Project</button>
                </div>
              </div>
            </fieldset>
        
        </div>
          </form>
      </div>
    </div>
  </div>
{% endblock %}