{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Crowdsourced Innovation For Disaster Relief</h1>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python">Create A Project</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started">Find Your Invention</a>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
	 <h2 class="display-2 text-center">Spurri is an open source platform that connects innovators with government agencies on terms they love.</h2>
  </div>
  <hr>
		<h3 class="display-3 text-center">Inventions On Display</h3>
  <div class="row">
	<ul class="list-unstyled">
		<li>
			<div class="col-md-4 col-xs-6 text-center">
				<div class="project">
					<img src="{% static 'project.jpg' %}" height="200px" width="200px" class="img-circle center-block"></img>
					<div class="col-md-6">
						<span class="glyphicon glyphicon-triangle-top vote1" aria-hidden="true"></span>
						<p id="vote_count">0</p>
					</div>
					<div class="col-md-6">
						<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
					</div>
					<h4 class="display-4 text-center">Zip Leaf</h4>
					<p class="text-center"><strong>Category:</strong> Drones</p>
					<p>The zip leaf is an autonomous drone that propels itself rapidly at high altitude, making logistics in extreme conditions safe and easy.</p>
					<a href="#" class="btn-center btn btn-success">Learn More</a>
				</div>
			</div>
		</li>
		<li>
			<div class="col-md-4 col-xs-6">
				<div class="project">
					<img src="{% static 'project.jpg' %}" height="200px" width="200px" class="img-circle center-block"></img>
					<div class="col-md-6">
						<span class="glyphicon glyphicon-triangle-top vote1" aria-hidden="true"></span>
						<p id="vote_count">0</p>
					</div>
					<div class="col-md-6">
						<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
					</div>
					<h4 class="display-4 text-center">Zip Leaf</h4>
					<p class="text-center"><strong>Category:</strong> Drones</p>
					<p>The zip leaf is an autonomous drone that propels itself rapidly at high altitude, making logistics in extreme conditions safe and easy.</p>
					<a href="#" class="btn-center btn btn-success">Learn More</a>
				</div>
			</div>
		</li>
		<li>
			<div class="col-md-4 col-xs-6">
				<div class="project">
					<img src="{% static 'project.jpg' %}" height="200px" width="200px" class="img-circle center-block"></img>
					<div class="col-md-6">
						<span class="glyphicon glyphicon-triangle-top vote1" aria-hidden="true"></span>
						<p id="vote_count">0</p>
					</div>
					<div class="col-md-6">
						<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
					</div>
					<h4 class="display-4 text-center">Zip Leaf</h4>
					<p class="text-center"><strong>Category:</strong> Drones</p>
					<p>The zip leaf is an autonomous drone that propels itself rapidly at high altitude, making logistics in extreme conditions safe and easy.</p>
					<a href="#" class="btn-center btn btn-success">Learn More</a>
				</div>
			</div>
		</li>
		<li>
			<div class="col-md-4 col-xs-6">
				<div class="project">
					<img src="{% static 'project.jpg' %}" height="200px" width="200px" class="img-circle center-block"></img>
					<div class="col-md-6">
						<span class="glyphicon glyphicon-triangle-top vote1" aria-hidden="true"></span>
						<p id="vote_count">0</p>
					</div>
					<div class="col-md-6">
						<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
					</div>
					<h4 class="display-4 text-center">Zip Leaf</h4>
					<p class="text-center"><strong>Category:</strong> Drones</p>
					<p>The zip leaf is an autonomous drone that propels itself rapidly at high altitude, making logistics in extreme conditions safe and easy.</p>
					<a href="#" class="btn-center btn btn-success">Learn More</a>
				</div>
			</div>
		</li>
		<li>
			<div class="col-md-4 col-xs-6">
				<div class="project">
					<img src="{% static 'project.jpg' %}" height="200px" width="200px" class="img-circle center-block"></img>
					<div class="col-md-6">
						<span class="glyphicon glyphicon-triangle-top vote1" aria-hidden="true"></span>
						<p id="vote_count">0</p>
					</div>
					<div class="col-md-6">
						<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
					</div>
					<h4 class="display-4 text-center">Zip Leaf</h4>
					<p class="text-center"><strong>Category:</strong> Drones</p>
					<p>The zip leaf is an autonomous drone that propels itself rapidly at high altitude, making logistics in extreme conditions safe and easy.</p>
					<a href="#" class="btn-center btn btn-success">Learn More</a>
				</div>
			</div>
		</li>
		<li>
			<div class="col-md-4 col-xs-6">
				<div class="project">
					<img src="{% static 'project.jpg' %}" height="200px" width="200px" class="img-circle center-block"></img>
					<div class="col-md-6">
						<span class="glyphicon glyphicon-triangle-top vote1" aria-hidden="true"></span>
						<p id="vote_count">0</p>
					</div>
					<div class="col-md-6">
						<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
					</div>
					<h4 class="display-4 text-center">Zip Leaf</h4>
					<p class="text-center"><strong>Category:</strong> Drones</p>
					<p>The zip leaf is an autonomous drone that propels itself rapidly at high altitude, making logistics in extreme conditions safe and easy.</p>
					<a href="#" class="btn-center btn btn-success">Learn More</a>
				</div>
			</div>
		</li>
	</ul>
  </div>
</div>
{% endblock %}
