{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Crowdsourced Innovation</br> For Disaster Relief</h1>
    <a type="button" class="btn btn-lg btn-default" href="/create">Add a Project</a>
    <a type="button" class="btn btn-lg btn-primary" href="#" title="coming soon">Start a Challenge</a>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
	 <h2 class="display-2 text-center">Spurri is a platform that connects innovators with government agencies on terms they love.</h2>
  </div>
  <hr>
		<h3 class="display-3 text-center">Inventions On Display</h3>
  <div class="row">
	<ul class="list-unstyled">
	  {% for project in projects %}
		<li>
			<div class="col-md-4 col-xs-6 text-center">
				<div class="project" >
				<div style="height:175px; overflow:hidden;">
					<img src="{{MEDIA_ROOT}}{{project.image.url}}"  width="200px" ></img>
					</div>
						<div class="row">
							<div class="col-md-6">
							<a href="project/{{project.id}}/rate/1">
								<span class="glyphicon glyphicon-triangle-top vote1" aria-hidden="true"></span>
								<p id="vote_count" style="font-size: 18px; margin-top: -10px;">{{project.rating.likes }}</p>
								</a>
							</div>
							<div class="col-md-6">
								<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
							</div>
						</div>
					<h4>{{ project.name }}</h4>
					<!-- <p class="text-center"><strong>Category:</strong> Drones</p> -->
					<div style="height:50px">
					<p>{{ project.description }}</p>
					</div>
					<a href="/{{ project.slug }}" class="btn-center btn btn-success">Learn More</a>
				</div>
			</div>
		</li>
		{% endfor %}
		
</div>
{% endblock %}
