{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{% static 'css/profile.css'%} " />
</head>
<section id="main">
	<header>
		<span class="#"><img src="#" alt="" /></span>
		<h1>{{user}}</h1>
		<p>{{company}}{{title}}</p>
	</header>
	<hr />
	<h2>Contact Developer</h2>
	<form method="post" action="#">
		<div class="field">
			<input type="text" name="name" id="name" placeholder="Name" />
		</div>
		<div class="field">
			<input type="email" name="email" id="email" placeholder="Email" />
		</div>
		<div class="field">
			<div class="select-wrapper">
				<select name="department" id="department">
					<option value="bid">Bid to buyout</option>
					<option value="helpfund">Help Fund</option>
				</select>
			</div>
		</div>
		<div class="field">
			<textarea name="message" id="message" placeholder="Message" rows="4"></textarea>
		</div>
		<div class="field">
			<input type="checkbox" id="human" name="human" /><label for="human">I'm a human</label>
		</div>
		<div class="field">
			<label>But are you a robot?</label>
			<input type="radio" id="robot_yes" name="robot" /><label for="robot_yes">Yes</label>
			<input type="radio" id="robot_no" name="robot" /><label for="robot_no">No</label>
		</div>
		<ul class="actions">
			<li><a href="#" class="button">Contact Developer</a></li>
		</ul>
	</form>
	<hr />
	<footer>
		<ul class="icons">
			<li><a href="#" class="fa-twitter">Twitter</a></li>
			<li><a href="#" class="fa-instagram">Instagram</a></li>
			<li><a href="#" class="fa-facebook">Facebook</a></li>
		</ul>
	</footer>
</section>

<!-- Footer -->
<footer id="footer">
	<ul class="copyright">
		<li>&copy; {{logos}}</li><li><a href="{{userwebsite}}">{{company}}</a></li>
	</ul>
</footer>

</div>
{% endblock %}
