{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{% static 'css/project.css'%} " />
</head>
<div class="row">
  <div class="medium-6 columns">
    <!-- this is where the image of the project will go -->
    <p></p>
    <img class="thumbnail" src="#">
    <div class="row small-up-4">
      <div class="column">
        <img class="thumbnail" src="#">
      </div>
      <div class="column">
        <img class="thumbnail" src="#">
      </div>
      <div class="column">
        <img class="thumbnail" src="#">
      </div>
      <div class="column">
        <img class="thumbnail" src="#">
      </div>
    </div>
  </div>
  <div class="medium-6 large-5 columns">
    <h3>{{project}}</h3>
    <p>{{description}}</p>


    <a href="#" class="button large expanded">Fund Project</a>

    <div class="small secondary expanded button-group">
        <a class="button" href="#" span="">Facebook</a>
        <a class="button" href="#">Twitter</a>
        <a class="button" href="#">GitHub</a>
      </div>
    </div>
</div>

<div class="column row">
  <hr>
  <ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Reviews</a></li>
    <li class="tabs-title"><a href="#panel2">Similar Products</a></li>
  </ul>
  <div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1">
      <h4>Endorsers</h4>
      <div class="media-object stack-for-small">
        <div class="media-object-section">
          <img class="thumbnail" src="#">
        </div>
        <div class="media-object-section">
          <h5>Endorser</h5>
          <p>Message</p>
        </div>
      <label>
        My End
        <textarea placeholder="None"></textarea>
      </label>
      <button class="button">Submit Endorsment</button>
    </div>
    <div class="tabs-panel" id="panel2">
      <div class="row medium-up-3 large-up-5">
        <div class="column">
          <img class="thumbnail" src="#">
          <h5>Other Product<small></small></h5>
          <p></p>
          <a href="#" class="button hollow tiny expanded">Placeholder button</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
